# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
apps/api/server

# Go
apps/api/tmp/

# Node
node_modules/
.output/
.nuxt/
dist/

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/

cmsstore/